.searchContainer {
    border: 3px solid #dfe6e9;
}

.searchBarContainer {
    border: 3px solid #dfe6e9;
}

.bookResultListContainer {
    border: 3px solid #dfe6e9;
}

.buttonContainer {
    display: flex;
    justify-content: right;
}

.bookResult {
    border: 3px solid #dfe6e9;
}

#bookValue {
    color: black;
}

.autoContainer {
    position: absolute;
    background-color: #dfe6e9;
    color: black;
    z-index: 1;
    overflow: hidden;
}

.option {
    overflow: hidden;
}

.option:hover {
    background-color: black;
    color: #dfe6e9;
    cursor: pointer;
}

.viewSaveContainer {
    display: flex;
    justify-content: center;
}

.centerImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBold {
    font-weight: 700;
}