.searchContainer {
    border: 3px solid #dfe6e9;
}

.searchBarContainer {
    border: 3px solid #dfe6e9;
}

.bookResultListContainer {
    border: 3px solid #dfe6e9;
}

.buttonContainer {
    display: flex;
    justify-content: right;
}

#bookValue {
    color: black;
}